{% extends 'base.html' %}

{% block content %}


    <section class="flex flex-row gap-[-20px] bg-[#222222] h-screen">

        <div class="flex flex-col w-6/12 text-white gap-[1rem]">

            <img class="w-full" src="{{ object.capaFilme.url }}" alt="">

            <div style=" background-image: linear-gradient(to bottom, #00000000, #222222, #222222, #222222, #222222);" class="flex flex-col gap-[1.5rem] px-3  bg-gradient-to-t from-black mt-[-80px]">

                <h1 style="text-shadow: 2px 3px 3px black;" class="text-[44px] font-bold mt-[-5px]" >{{ object.titulo }}</h1>

                <p class="text-[18px]" >{{ object.dataCriacao.year }} &#160; &#160; &#160; {{ object.duracao }}</p>
                

                <p class="text-[20px]">{{ object.descricao }}</p>

                
                <div class="flex flex-row justify-between" >
                    
                    <p>Categoria: {{ object.categoria }}</p>

                    {% if object.quantEpisodios > 0 %}

                        <p>Episódios: {{ object.quantEpisodios }}</p>

                    {% else %}

                        <p></p>

                    {% endif %}

                <p>Visualizações: {{ object.visualizacoes }}</p>

                </div>
                
            </div>


        </div>


        <div class="flex flex-col w-6/12 h-screen text-white px-3 gap-[25px] ml-[-10px] bg-[#222222]">

            <h2 class="w-[290px]  text-[25px] font-bold border-t-4 border-[#e50914] pt-[10px]" >OPÇÕES SEMELHANTES</h2>

            <div class="flex flex-row flex-wrap gap-[10px]">
                {% for filme in filmesRelacionados %}

                    {% if filme.titulo != object.titulo %}
                        <a href="{% url 'filme:detalhesconteudo' filme.id %}"><img width="300px" class="rounded-md" src="{{ filme.thumbnail.url }}" alt=""></a>

                    {% endif %}

                {% endfor %}
            </div>
            

        </div>


    </section>


    

    
{% endblock %}