{% extends 'base.html' %}



{% block head %}

<link rel="stylesheet" type="text/css" href="../static/css/homeconteudo.css">

{% endblock %}


{% block content %}


<main>
    <header class="w-full h-screen flex flex-col">

        <img class="h-screen " src="{{ filmeMaisAssistido.capaFilme.url }}" alt="">
        

        <div class="flex flex-col mt-[-550px] px-[55px] text-white gap-[20px]">
            <h1 style="text-shadow: 2px 3px 3px rgb(0, 0, 0); text-align: start;" class="text-[80px] text-white font-bold">
                {{ filmeMaisAssistido.titulo }}
            </h1>

            <p style="text-shadow: 2px 2px 2px rgb(0, 0, 0);" class="text-[18px] w-[700px] font-bold px-[10px]">
                {{ filmeMaisAssistido.descricao }}
            </p>
            
            <div class="flex flex-row ">
                <a class="px-[10px]" href="{% url 'filme:detalhesconteudo' filmeMaisAssistido.id %}">
                    <button class="flex gap-[15px] p-[10px] ease-in-out duration-150 text-[24px] text-black font-bold bg-white w-[205px] h-[60px] items-center justify-center rounded hover:opacity-75">
                        <img  width="20px" src="../static/images/Vector.png" alt="">
                        Assistir
                    </button>
                </a>
    
                <a class="px-[10px]" href="{% url 'filme:detalhesconteudo' filmeMaisAssistido.pk %}">
                    <button style="background-color: rgba(255, 255, 255, 0.548);" class="flex gap-[5px] ease-in-out duration-150 p-[10px] text-[24px] text-white font-bold w-[275px] h-[58px] items-center justify-center rounded hover:opacity-75">
                        <img  width="45px" src="../static/images/info.png" alt="">
                        Mais informações
                    </button>
                </a>
                
            </div>
            
           
        </div>
        

    </header>

    <section class='bg-[#222222] flex justify-center mt-[-120px]'>
        <div  style="background-image: linear-gradient(to bottom, #00000000, #222222, #222222, #222222, #222222);" class="p-8 w-full relative bg-gradient-to-t from-black" >
            <h2 class="text-gray-200 text-2xl text-start text-[35px] font-medium px-[30px] mt-[-75px]">
                Novo
            </h2>
            <div class="wrapper mt-[-10px]">
              <section id="section1" class="flex flex-nowrap items-center justify-center space-x-8">
                <a href="#section3" class="arrow__btn text-6xl page  text-white">‹</a>
                  {% for filme in filmesRecentes %}
                    {% if 5 > forloop.counter %}
                    <div class="item h-[220px] w-[450px] m-3">
                        <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                            <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                        </a>
                    </div>
                    {% endif %}
                  {% endfor %}
                <a href="#section2" class="arrow__btn text-6xl  text-white">›</a>
              </section>
                {% if filmesRecentes|length > 4%}
                  <section id="section2" class="flex flex-nowrap items-center justify-center">
                    <a href="#section1" class="arrow__btn text-6xl  text-white">‹</a>
                      {% for filme in filmesRecentes %}
                        {% if forloop.counter > 4 and forloop.counter <= 8 %}
                            <div class="item h-[220px] w-[450px] m-3">
                                <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                    <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                      {% endfor %}
                    <a href="#section3" class="arrow__btn text-6xl  text-white">›</a>
                  </section>
                {% endif %}
                {% if filmesRecentes|length > 8%}
                  <section id="section3" class="flex flex-nowrap items-center justify-center">
                    <a href="#section2" class="arrow__btn text-6xl  text-white">‹</a>
                      {% for filme in filmesRecentes %}
                        {% if forloop.counter > 8 %}
                            <div class="item h-[220px] w-[450px] m-3">
                                <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                    <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                      {% endfor %}
                    <a href="#section1" class="arrow__btn text-6xl  text-white">›</a>
                  </section>
                {% endif %}
            </div>


        </div>
    </section>

    <section class='bg-[#222222] flex justify-center '>
        <div class="p-8 w-full relative" >
            <h2 class="text-gray-200 text-2xl text-start text-[27px] font-medium px-[40px]">
                Em Alta
            </h2>
            <div class="wrapper">
              <section id="section1emalta" class="flex flex-nowrap items-center justify-center space-x-8">
                <a href="#section2emalta" class="arrow__btn text-6xl page  text-white">‹</a>
                  {% for filme in filmesPopulares %}
                    {% if 5 > forloop.counter  %}
                        <div class="item h-[220px] w-[450px] m-3">
                            <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                            </a>
                        </div>
                    {% endif %}
                  {% endfor %}
                    <a href="#section2emalta" class="arrow__btn text-6xl  text-white">›</a>
              </section>
                {% if filmesPopulares|length > 4 %}
                  <section id="section2emalta" class="flex flex-nowrap items-center justify-center">
                    <a href="#section1emalta" class="arrow__btn text-6xl  text-white">‹</a>
                      {% for filme in filmesPopulares %}
                        {% if forloop.counter > 4 %}
                            <div class="item h-[220px] w-[450px] m-3">
                                <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                    <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                      {% endfor %}
                    <a href="#section1emalta" class="arrow__btn text-6xl text-white">›</a>
                  </section>
                {% endif %}
            </div>


        </div>
    </section>

    {% if request.user.filmesVistos.all %}
      <section class='bg-[#222222] flex justify-center '>
        <div class="p-8 w-full relative" >
            <h2 class="text-gray-200 text-2xl text-start text-[27px] font-medium px-[40px]">
                Continue Assistindo
            </h2>
            <div class="wrapper">
              <section id="section1Vistos" class="flex flex-nowrap items-center justify-center space-x-8">
                <a href="#section2Vistos" class="arrow__btn text-6xl page  text-white">‹</a>
                  {% for filme in request.user.filmesVistos.all %}
                    {% if 5 > forloop.counter  %}
                        <div class="item h-[220px] w-[450px] m-3">
                            <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                            </a>
                        </div>
                    {% endif %}
                  {% endfor %}
                    <a href="#section2Vistos" class="arrow__btn text-6xl  text-white">›</a>
              </section>
                {% if request.user.filmesVistos.all|length > 4 %}
                  <section id="section2Vistos" class="flex flex-nowrap items-center justify-center">
                    <a href="#section1Vistos" class="arrow__btn text-6xl  text-white">‹</a>
                      {% for filme in request.user.filmesVistos.all %}
                        {% if forloop.counter > 4 and forloop.counter < 9%}
                            <div class="item h-[220px] w-[450px] m-3">
                                <a href="{% url 'filme:detalhesconteudo' filme.pk %}">
                                    <img src="{{ filme.thumbnail.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                      {% endfor %}
                    <a href="#section1Vistos" class="arrow__btn text-6xl text-white">›</a>
                  </section>
                {% endif %}
            </div>


        </div>
    </section>
  {% endif %}


</main>

<footer class="bg-[#222222] border-t-8 border-[#000000] flex items-center justify-between gap-4 px-64 py-12 text-white" >

    <p>@ 2023</p>

    <p>Feito com ❤️ , Python e Django</p>

    <p>LucasLuis-Dev</p>


</footer>




{% endblock %}