{% load static %}


<nav id="nav" class="w-full flex justify-between items-center fixed py-3 px-4 z-50">

    <div class="w-6/12">
        <a href="/">
            <img width="250px" src="{% static 'images/screenflix.png' %}" alt="">
        </a>
        
    </div>
    

    <div class="w-6/12 flex gap-4 justify-end items-center">

        <div class="bg-black text-white py-2 px-2 border border-white">

            <p>Português</p>


        </div>

        <div class="">
            <form action="">

                <input class="bg-black text-white py-2 px-2 border border-white" type="text" placeholder="Pesquisar">

            </form>
        </div>

        <div class="">

            <a href="">
                <button class="bg-[#e50914] w-[5rem] text-white py-2 px-3 rounded-[4px]">
                    Entrar
                </button>
            </a>
            

        </div>

        <div class="">
            <a href="">
                <button class=" text-white py-1 px-3">
                    Editar Perfil
                </button>
            </a>
            

        </div>

    </div>

</nav>
